<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Santiago Cussit 1A :3">
    <title>Chat - Santiago Cussit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="App_chat">
    {% block content %}
     <h1>Chat</h1>
     {% for card in cards %}
        <p>{{ card.text }}</p>
     {% endfor %}
    {% endblock %}
  </div>
</body>
</html>