<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Santiago Cussit 1A :3">
    <meta name="description" content="Una Red Social">
    <title>Blink - Santiago Cussit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="App_Mensaje_y_informacion">
        <h1>¡Bienvenido!</h1>
        <p>Este sitio es una Mini Red Social<br>Puedes escribir un mensaje sin que <br> nadie sepa que fuiste tu! <br> Si quiere saber mas del sitio puede<br> Investigar mas al respecto</p>
        <a href="/informacion">Mas Sobre La Web</a>
        <a href="/enviar">Como enviar un mensaje</a>
    </div>
</body>
</html>