<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Santiago Cussit 1A :3">
    <title>informacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <div id="App_Informacion">
    <header class="header_principal">
        <h1 class="header_titulo">Informacion</h1>
    </header>
    <main>
        <article class="article_Uso">
            <h2 class="article_">Uso</h2>
            <p>Es para mandar mensajes anonimos <br> no sabran quien escribio un mensaje <br> pero los mensajes quedan guardados</p>
        </article>
        <article class="article_PoliticasDePrivacidad">
            <h2>Politicas De Privacidadd</h2>
            <p>Respetamos tu privacidad y protegemos tus datos personales.<br>
            No compartimos tu información con terceros sin tu consentimiento.<br></p>
        </article>
        <article>
            <h2>Responsabilidad</h2>
            <p>Cualquier comentario danino o malo hacia alguna institucion<br> o persona, la red social no se hara responsable<br></p>
        </article>
        <a href="/">Inicio</a>
    </main>
  </div>
</body>
</html>